body{
	  margin: 0;
	 
	  overflow-x: hidden;
}
.g{
	 height: 730px;
	width: 290px;
	background-color: rgba(0, 0, 0, 0.7);
  	background-image: url("https://i.ibb.co/F3Z8b1X/Add-Text-01-03-02-42-55.jpg");
  background-size: cover;
	z-index: -1;
	
	
}
.o{
	position: fixed;
}
.container{
	
	display: flex;
	height: 600px;
	width: 290px;
	position: fixed;
	flex-direction: column;
 
}
.i{
    height: 120px;
	  width: 290px;
    position: relative;
    display: flex;
    }
.logo{
	height: 71PXpx;
	width: 290px;
	background-image: url("https://i.ibb.co/R79wJrG/Add-Text-01-03-10-57-48.png");
	background-size: cover;
	position: relative;
	right: 35PX;
	bottom: 15PX;
}

.box1{
	height: 60px;
	width: 290px;
   
    position: relative;
 
    border-bottom: 1px solid white;
    border-top: 1px solid white;

}
.box2{
	height: 60px;
	width: 290px;
   
    position: relative;
      border-bottom: 1px solid white;
   
}
.box3{
	height: 60px;
	width: 290px;
  
    position: relative;
      border-bottom: 1px solid white;
   
}
.box4{
	height: 60px;
	width: 290px;
   
    position: relative;
      border-bottom: 1px solid white;
  
}
.box5{
	height: 60px;
	width: 290px;
   
    position: relative;
      border-bottom: 1px solid white;
    }
.ink{
	padding-top: 22px;
	padding-left: 10px;
}
a{
	text-decoration: none;
	color: white;
	font-weight: 790;
	font-family: sans-serif;
}
#box:hover{
	background-color: rgba(178, 34, 34, 0.5);
}
#box:active{
	background-color: rgba(30, 144, 255,0.5);
}
.ia{
	position: relative;
	margin-top: 0px;
	left: 292px;
	height: 1000px;

	background-image: url(https://i.ibb.co/HxhYZMX/Add-Text-01-07-04-59-00.jpg);
	background-size: cover;
}
.back{
	height: 50px;
	width: 50px;
	padding-top: 10px;
	padding-left: 10px;
}